Repository veinbergsaivis/printstudio-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Production build for cPanel deployment
  dist/assets/index-BeinpRcj.css
  dist/assets/index-DIrWBLSs.js
  dist/assets/index-DkJPBjht.css
  dist/assets/index-DzGlwEBF.js
  dist/assets/vendor-helmet-BkbtJXqt.js
  dist/assets/vendor-helmet-DpPWELdt.js
  dist/index.html
Due: prettier --write, eslint --fix

Fix: UTF-8 encoding for contact form, add MIME multipart support for file attachments
  dist/contact.php
Due: none

Fix: Improve contact form error handling and auto-hide success message
  dist/assets/index-BAME4Wi8.js
  dist/assets/index-DzGlwEBF.js
  dist/index.html
  src/components/ContactForm.tsx
Due: prettier --write, eslint --fix

Fix: Correct PHP JSON response handling and improve error messages
  dist/assets/index-BAME4Wi8.js
  dist/assets/index-BpEQZfeO.js
  dist/contact.php
  dist/index.html
  public/contact.config.php
  public/contact.php
  public/test-email.php
  src/components/ContactForm.tsx
Due: prettier --write, eslint --fix

Fix: Encode subject and Reply-To header for UTF-8 names; PHPMailer uses raw subject
  public/contact.php
Due: none

Feat(contact): improved file upload UI + client-side validation (10MB limit)
  src/components/ContactForm.tsx
Due: prettier --write, eslint --fix

Feat: increase file upload limit to 25MB (client+server) and improve client error message
  public/contact.php
  src/components/ContactForm.tsx
Due: prettier --write, eslint --fix

Production build for cPanel deployment
  dist/assets/index-B2rMKS6-.css
  dist/assets/index-BeinpRcj.css
  dist/assets/index-BpEQZfeO.js
  dist/assets/index-y4xTePR2.js
  dist/contact.php
  dist/index.html
Due: prettier --write, eslint --fix

Update: Contact button enhancement and README documentation
  README.md
Due: prettier --write

Update: Style Choose File button to red and fix file size text color to black
  dist/assets/index-B2rMKS6-.css
  dist/assets/index-BeinpRcj.css
  dist/assets/index-IuRScbQP.js
  dist/index.html
  src/components/ContactForm.tsx
Due: prettier --write, eslint --fix

Update: Add newsletter consent checkbox to footer
  dist/assets/index-BEg-8h4A.js
  dist/assets/index-BeinpRcj.css
  dist/assets/index-Bx831OqV.css
  dist/assets/index-IuRScbQP.js
  dist/index.html
  src/components/Footer.tsx
Due: prettier --write, eslint --fix

Fix: Correct typo in footer newsletter consent text
  dist/assets/index-DSFOqsPl.js
  dist/index.html
  src/components/Footer.tsx
Due: prettier --write, eslint --fix

Feature: Add newsletter email subscription with automatic email responses
  dist/assets/index-C-a2PND9.js
  dist/assets/index-DSFOqsPl.js
  dist/index.html
  dist/newsletter.php
  public/newsletter.php
  src/components/Footer.tsx
Due: prettier --write, eslint --fix

Add: unsubscribe endpoint for newsletter
  public/unsubscribe.php
Due: none

Build: refresh dist (automated)
  dist/assets/index-Bkf9Vysg.js
  dist/assets/index-C-a2PND9.js
  dist/index.html
  dist/unsubscribe.php
  src/components/Footer.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml,css,scss})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
