Repository veinbergsaivis/printstudio-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(husky): add pre-commit hook for formatting
  .husky/pre-commit
Due: none

Add cPanel deployment configuration and build files
  .cpanel.yml
  CPANEL_DEPLOYMENT.md
  deploy.sh
  public/.htaccess
  src/i18n/locales/lv.ts
  tsconfig.app.tsbuildinfo
  tsconfig.node.tsbuildinfo
Due: prettier --write, eslint --fix

Add production build files for cPanel deployment
  dist/.htaccess
  dist/assets/BlogPage-CBIUPahW.js
  dist/assets/BlogPostPage-CB5nWvfz.js
  dist/assets/GD-cGhbaIfQ.webp
  dist/assets/GDB-D-fRKo2-.webp
  dist/assets/NotFoundPage-SU-X6n0o.js
  dist/assets/PS-Can5HKhl.webp
  dist/assets/PricingPage-DiOmkXsD.js
  dist/assets/PrivacyPolicyPage-BLfgH2uV.js
  dist/assets/TermsOfServicePage-C5LLryiV.js
  dist/assets/hoodie-480-L0q3q-uO.webp
  dist/assets/index-B2naRCen.js
  dist/assets/index-CZ8wN8jd.css
  dist/assets/logo-black-BN93yWqt.webp
  dist/assets/mug-480-Cc-iiBW7.webp
  dist/assets/tshirt-480-DsHSsdAA.webp
  dist/assets/vendor-framer-BUeNmMCJ.js
  dist/assets/vendor-helmet-Yq0txYyI.js
  dist/assets/vendor-i18n-Df2fZnjC.js
  dist/assets/vendor-react-bOpr2V4s.js
  dist/fonts/montserrat-400.woff2
  dist/fonts/montserrat-500.woff2
  dist/fonts/montserrat-600.woff2
  dist/fonts/montserrat-700.woff2
  dist/fonts/montserrat-800.woff2
  dist/fonts/montserrat-regular.woff2
  dist/index.html
  dist/robots.txt
  dist/site.webmanifest
  dist/sitemap.xml
Due: prettier --write, eslint --fix

Add quick deployment guide for cPanel
  QUICK_DEPLOY_GUIDE.md
Due: prettier --write

Add comprehensive README.md
  README.md
Due: prettier --write

Update .cpanel.yml with placeholder username
  .cpanel.yml
Due: prettier --write

Update deployment path in .cpanel.yml
  .cpanel.yml
Due: prettier --write

Configure .cpanel.yml with correct server path
  .cpanel.yml
Due: prettier --write

Add password protection and set LV as default language
  PASSWORD_PROTECTION.md
  dist/assets/BlogPage-CBIUPahW.js
  dist/assets/BlogPostPage-CB5nWvfz.js
  dist/assets/NotFoundPage-SU-X6n0o.js
  dist/assets/PricingPage-DiOmkXsD.js
  dist/assets/PrivacyPolicyPage-BLfgH2uV.js
  dist/assets/TermsOfServicePage-C5LLryiV.js
  dist/assets/index-B2naRCen.js
  dist/assets/index-CZ8wN8jd.css
  dist/index.html
  src/App.tsx
  src/components/PasswordGate.tsx
  src/i18n/index.ts
  tsconfig.app.tsbuildinfo
Due: prettier --write, eslint --fix

Update build with fixed password gate colors
  dist/index.html
  src/components/PasswordGate.tsx
Due: prettier --write, eslint --fix

Remove password protection - direct access to site
  dist/index.html
  src/App.tsx
Due: prettier --write, eslint --fix

Clean removal of all password protection files
  PASSWORD_PROTECTION.md
  dist/index.html
  src/components/PasswordGate.tsx
  tsconfig.app.tsbuildinfo
Due: prettier --write, eslint --fix

Set LV as default language with EN support
  PASSWORD_PROTECTION.md
  dist/index.html
  src/components/PasswordGate.tsx
  src/i18n/index.ts
  tsconfig.app.tsbuildinfo
  tsconfig.node.tsbuildinfo
  vite.config.ts
Due: prettier --write, eslint --fix

Remove password protection files
  PASSWORD_PROTECTION.md
  src/components/PasswordGate.tsx
Due: prettier --write, eslint --fix

Clean up repository and add GitHub templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  CONTRIBUTING.md
  LICENSE
  dist/assets/BlogPage-BUV7EWCu.js
  dist/assets/BlogPostPage-CMeS9t_Y.js
  dist/assets/NotFoundPage-jKcaDCBF.js
  dist/assets/PricingPage-B58YhJWB.js
  dist/assets/PrivacyPolicyPage-Bti4tVn3.js
  dist/assets/TermsOfServicePage-BZTaV5J7.js
  dist/assets/index-CLLxugqz.js
  dist/assets/index-CZ8wN8jd.css
  light test/localhost_2025-10-17_11-36-15 (1).html
  light test/localhost_2025-10-17_11-36-15.json
  tsconfig.app.tsbuildinfo
  tsconfig.node.tsbuildinfo
Due: prettier --write, eslint --fix

Remove i18n report files from tracking
  i18n-sync-report.json
  i18n-translation-queue.csv
  i18n-validate-report.json
Due: prettier --write

Add GitHub Actions CI/CD workflow
  .github/workflows/ci.yml
  i18n-sync-report.json
  i18n-translation-queue.csv
  i18n-validate-report.json
Due: prettier --write

Add GitHub setup completion guide
  GITHUB_SETUP_COMPLETE.md
Due: prettier --write

Contact form: wire to PHP endpoint (contact.php) with honeypot and UX
  dist/assets/BlogPage-BUV7EWCu.js
  dist/assets/BlogPage-DKJ5im4v.js
  dist/assets/BlogPostPage-ChVRHhlI.js
  dist/assets/NotFoundPage-D7Q62v7K.js
  dist/assets/PricingPage-B58YhJWB.js
  dist/assets/PricingPage-Br671C-S.js
  dist/assets/PrivacyPolicyPage-Bti4tVn3.js
  dist/assets/PrivacyPolicyPage-FvZBPFas.js
  dist/assets/TermsOfServicePage-BZTaV5J7.js
  dist/assets/TermsOfServicePage-DuGRh9Ap.js
  dist/assets/index-CLLxugqz.js
  dist/assets/index-CZ8wN8jd.css
  dist/assets/index-DkJPBjht.css
  dist/assets/index-DtnY-3Ht.js
  dist/contact.php
  dist/index.html
  public/contact.php
  src/components/ContactForm.tsx
Due: prettier --write, eslint --fix

Contact form: add PHPMailer-ready endpoint and config example
  .gitignore
  dist/contact.config.example.php
  dist/contact.php
  public/contact.config.example.php
  public/contact.php
Due: none

Add contact form with file upload, Latvian language, and reCAPTCHA v3
  dist/assets/BlogPage-DH_kprQ_.js
  dist/assets/BlogPage-DKJ5im4v.js
  dist/assets/BlogPostPage-B9DeGYMW.js
  dist/assets/NotFoundPage-DOHvrpdX.js
  dist/assets/PricingPage-BCHdzM0a.js
  dist/assets/PricingPage-Br671C-S.js
  dist/assets/PrivacyPolicyPage-A5zGEW9K.js
  dist/assets/PrivacyPolicyPage-FvZBPFas.js
  dist/assets/TermsOfServicePage-DYZMp5kW.js
  dist/assets/TermsOfServicePage-DuGRh9Ap.js
  dist/assets/index-7Vl6vRXG.js
  dist/assets/index-DtnY-3Ht.js
  dist/contact.config.example.php
  dist/contact.php
  dist/index.html
  public/contact.config.example.php
  public/contact.php
  src/components/ContactForm.tsx
  src/components/ReCaptchaV3.tsx
  src/types/grecaptcha.d.ts
Due: prettier --write, eslint --fix

Fix: Replace require with useTranslation import in ContactForm
  dist/assets/BlogPage-DH_kprQ_.js
  dist/assets/BlogPage-MOESzfwR.js
  dist/assets/BlogPostPage-C5OT8iUx.js
  dist/assets/NotFoundPage-DAs869_A.js
  dist/assets/PricingPage-BCHdzM0a.js
  dist/assets/PricingPage-B_vS0C3x.js
  dist/assets/PrivacyPolicyPage-A5zGEW9K.js
  dist/assets/PrivacyPolicyPage-D0Bx4Q3Y.js
  dist/assets/TermsOfServicePage-DYZMp5kW.js
  dist/assets/TermsOfServicePage-Df2nkamv.js
  dist/assets/index-7Vl6vRXG.js
  dist/assets/index-7dMcVh3Z.js
  dist/index.html
  src/components/ContactForm.tsx
Due: prettier --write, eslint --fix

Pabeidz e-pasta uzstādīšanu - pievieno pilnu dokumentāciju un testēšanas rīkus
  .gitignore
  EMAIL_ARCHITECTURE.md
  EMAIL_COMPLETION_SUMMARY.md
  EMAIL_QUICK_REFERENCE.md
  EMAIL_SETUP_GUIDE.md
  QUICK_DEPLOY_GUIDE.md
  README.md
  composer.json
  scripts/email-setup-check.sh
Due: prettier --write

Atjaunina dist ar test-email.php testēšanas rīku
  dist/test-email.php
Due: none

Pievieno e-pasta deployment rīkus un instrukcijas (bez parolēm)
  DEPLOY_EMAIL_CONFIG.md
  public/contact.config.TLS.php
  scripts/deploy-email-config.sh
  scripts/upload-email-config.ps1
Due: prettier --write

Pievieno finālās e-pasta deployment instrukcijas
  EMAIL_FINAL_INSTRUCTIONS.md
Due: prettier --write

Pievieno instrukcijas e-pasta uzstādīšanai BEZ cPanel termināla
  EMAIL_FINAL_INSTRUCTIONS.md
  EMAIL_NO_TERMINAL_GUIDE.md
Due: prettier --write

Pievieno īslaicīgu risinājumu reCAPTCHA problēmai
  RECAPTCHA_FIX.md
  public/contact-no-recaptcha.php
Due: prettier --write

Fix: Disable reCAPTCHA temporarily + Add favicon files
  RECAPTCHA_FIXED.md
  dist/apple-touch-icon.png
  dist/assets/BlogPage-BAO-9CB_.js
  dist/assets/BlogPage-MOESzfwR.js
  dist/assets/BlogPostPage-dbRoctOM.js
  dist/assets/NotFoundPage-CpBPsEfO.js
  dist/assets/PricingPage-BZaCQi-x.js
  dist/assets/PricingPage-B_vS0C3x.js
  dist/assets/PrivacyPolicyPage-D0Bx4Q3Y.js
  dist/assets/PrivacyPolicyPage-d6Zod5KY.js
  dist/assets/TermsOfServicePage-BSB7cike.js
  dist/assets/TermsOfServicePage-Df2nkamv.js
  dist/assets/index-7dMcVh3Z.js
  dist/assets/index-D8XHVVR8.js
  dist/contact-no-recaptcha.php
  dist/contact.config.TLS.php
  dist/contact.config.php
  dist/favicon.REAL.png
  dist/favicon.ico
  dist/favicon.svg
  dist/icon-192.png
  dist/icon-512.png
  dist/index.html
  public/apple-touch-icon.png
  public/contact.php
  public/favicon.REAL.png
  public/favicon.ico
  public/favicon.svg
  public/icon-192.png
  public/icon-512.png
  scripts/copy-real-favicon.cjs
  scripts/generate-favicons-from-real.cjs
  scripts/generate-favicons.cjs
  src/components/ContactForm.tsx
Due: prettier --write, eslint --fix

Fix: Correct GTM ID and disable GA4 temporarily
  dist/index.html
  index.html
Due: none

Fix: Add ErrorBoundary to catch blog page errors
  dist/assets/BlogPage-BAO-9CB_.js
  dist/assets/BlogPostPage-dbRoctOM.js
  dist/assets/NotFoundPage-CpBPsEfO.js
  dist/assets/PricingPage-BZaCQi-x.js
  dist/assets/PrivacyPolicyPage-d6Zod5KY.js
  dist/assets/TermsOfServicePage-BSB7cike.js
  dist/assets/index-D8XHVVR8.js
  dist/assets/index-er9TjhoQ.js
  dist/assets/vendor-framer-Bn1Cb7dn.js
  dist/assets/vendor-helmet-DpPWELdt.js
  dist/assets/vendor-helmet-Yq0txYyI.js
  dist/assets/vendor-i18n-CH3gsYQ_.js
  dist/assets/vendor-i18n-Df2fZnjC.js
  dist/assets/vendor-react-ChRZNq9P.js
  dist/index.html
  src/App.tsx
Due: prettier --write, eslint --fix

Fix: Update URL hash when navigating to sections
  dist/assets/index-er9TjhoQ.js
  dist/assets/index-vYGq0FFL.js
  dist/index.html
  src/components/Navbar.tsx
Due: prettier --write, eslint --fix

Fix: Pricing and File Guidelines navigation
  dist/assets/index-DHpDPEl-.js
  dist/assets/index-vYGq0FFL.js
  dist/index.html
  src/components/Navbar.tsx
Due: prettier --write, eslint --fix

Add: Automated FTP deploy script and guide
  DEPLOY_GUIDE.md
  deploy-ftp.ps1
  package.json
Due: prettier --write

Fix: Restore navigation to Pricing and File Guidelines pages
  src/components/Navbar.tsx
Due: prettier --write, eslint --fix

Fix: Add ErrorBoundary to prevent black screen on errors
  dist/assets/index-C4CQKzyZ.js
  dist/assets/index-DHpDPEl-.js
  dist/index.html
  src/App.tsx
Due: prettier --write, eslint --fix

Fix: Switch to HashRouter for server compatibility
  dist/assets/index-C4CQKzyZ.js
  dist/assets/index-C7Nt7Jsr.js
  dist/assets/vendor-framer-CgWeu0gZ.js
  dist/assets/vendor-helmet-DpPWELdt.js
  dist/assets/vendor-helmet-wRqIoZd-.js
  dist/assets/vendor-i18n-CH3gsYQ_.js
  dist/assets/vendor-i18n-KDOCW2Z5.js
  dist/assets/vendor-react-CB8qz3Cc.js
  dist/assets/vendor-react-ChRZNq9P.js
  dist/index.html
  src/App.tsx
Due: prettier --write, eslint --fix

Fix: Revert to BrowserRouter - HashRouter caused black screen
  dist/assets/index-C7Nt7Jsr.js
  dist/assets/index-DIrWBLSs.js
  dist/assets/vendor-framer-Bn1Cb7dn.js
  dist/assets/vendor-helmet-DpPWELdt.js
  dist/assets/vendor-helmet-wRqIoZd-.js
  dist/assets/vendor-i18n-CH3gsYQ_.js
  dist/assets/vendor-i18n-KDOCW2Z5.js
  dist/assets/vendor-react-CB8qz3Cc.js
  dist/assets/vendor-react-ChRZNq9P.js
  dist/index.html
  src/App.tsx
Due: prettier --write, eslint --fix

Fix: Add HelmetProvider, update social media links, remove fetchPriority warning
  src/App.tsx
  src/components/Footer.tsx
  src/components/SnowfallBackground.tsx
  src/sections/ContactSection.tsx
  src/sections/HeroSection.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml,css,scss})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
